body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e5e5e5;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 280px;
    background: #0084ff;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
}

.username-box {
    margin-top: 30px;
}

.username-box input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

.username-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: white;
    color: #0084ff;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.chat-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background: white;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 60%;
    border-radius: 12px;
}

.me {
    background: #0084ff;
    color: white;
    margin-left: auto;
}

.other {
    background: #f1f0f0;
    color: black;
}

.status {
    text-align: center;
    color: gray;
    margin: 10px 0;
}

.input-area {
    display: flex;
    padding: 10px;
    background: #ddd;
}

#messageInput {
    flex-grow: 1;
    padding: 12px;
    border: none;
    border-radius: 20px;
}

#sendBtn {
    padding: 12px 20px;
    margin-left: 10px;
    background: #0084ff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
